<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #form {
            text-align: center;
            margin-top: 5%;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>

<div class="container col-6">
  <h1>Authenticate</h1>
  <div class="col-md-auto">
    <form th:object="${thu}" th:action="@{/authen}" action="#" method="post">
<!--        <input type="hidden" th:field="*{dateCreated}">-->
<!--        <input type="hidden" th:field="*{dateConfirm}">-->
        <div>
        <label th:text="Email" th:for="email"></label>
        <input name="email" type="text" class="form-control" placeholder="Email"/>
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
        <div>
            <label th:text="OTP" th:for="otp"></label>
            <input name="otp" type="text" class="form-control" placeholder="OTP"/>
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
      <input type="submit" class="btn btn-success" value="Xác thực OTP"/>
        <div style="clear: both; display: block; height: 10px"></div>
    </form>
  </div>
    <a href="/index" class="btn btn-danger" role="button">Yêu cầu OTP</a>
</div>

</body>
</html>

