<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #form{
            text-align:center;
            margin-top:5%;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="container col-6">
    <h1>Request Email</h1>
    <div class="col-md-auto">
        <form th:object="${mail}" th:action="@{/requestOTP}" action="#" method="post">
            <div>
                <label th:text="Email" th:for="email"></label>
                <input name="email" type="text" th:field="*{email}" class="form-control" placeholder="Email"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <input type="submit" class="btn btn-success" value="Yêu cầu OTP"/>
        </form>
    </div>
</div>
</body>
</html>
