<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authenticate</title>
    <style>
        #form {
            text-align: center;
            margin-top: 5%;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>

<th:if test='*{loginInfo == null || loginInfo.equals("") }'>
    <th:redirect url="/login" />
</th:if>
<h1 th:text="'Hello, ' + *{loginInfo}"></h1>
<h1 th:text="*{notice}"></h1>
<a href="/back" class="btn btn-success" role="button">Trở lại trang chủ</a>
</body>
</html>